body {
    font-family: 'Poppins', sans-serif;
}

/* Research List Table */
.researchList {
    margin: auto;
    width: 100%;
    max-width: 900px;
}

.researchList th, .researchList td {
    padding: 12px;
    text-align: center;
}

/* Style Links */
a {
    color: #007bff;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.bio {
    width:75vw;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}
