#fullpage{
    width: 100vw;
    height: 100vh;
    background-color: grey;
}
#leftContainer{
    width: 40vw;
    height:100vh;
    background-color: blue;
}

#rightContainer{
    width: 60vw;
    height: 100vh;
    background-color: red;
}
